#about {
    flex: 1;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/photo9.jpeg);
    background-position: center top -200px; /* Mueve la imagen de fondo hacia arriba */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /
}

.container-2 {
    max-width: 800px;
    text-align: left;
    background: white;
}

.container-2 h1{
    font-size: 50px;
    color: #000000;
    text-align: center;
    justify-content: center;
}

.container-2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 20px;    
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    html, body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #about{
       background-image: url(img/photo9.jpeg);
       background-repeat: no-repeat;
        width: 100%;
        padding: 0;
        min-height: 100vh;
        background-position: center;
        display: flex; /* Usar flexbox */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    } 
    .container-2{
        max-width: 370px; /* Establece el ancho máximo */
        padding: 0 10px; /* Añade padding horizontal para espacio interno */
        box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho total */
        text-align: center; /* Centra el texto dentro del contenedor */
    }
    .container-2 p{
        margin: 10px 0; /* Añade un margen vertical */
    }
}